.group_infor_product{
	padding: 50px 60px 0;
	background: #fff;
    margin: 0px 0;
    overflow: hidden;
}
.attribute{
	font-size: 15px;
    overflow: hidden;
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: block;
}
.attribute .lable{
	font-weight: bold;
	font-size: 50px;
	color: #333333;
    position: absolute;
    top: 50%;
    font-size: 18px;
    max-width: 25%;
    display: block;
}
.attribute .data{
	width: 70%;
    float: right;
    display: block;
}